.divide-line {
  margin: var(--size-xs) var(--size-md);
  padding-top: var(--size-xs);
  border-top: 1px solid var(--dark-pink);
}

.divide-line--full {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  margin: 0;
}

.divide-line span,
.divide-line i {
  color: var(--light-redpink);
}

.divide-line__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
