.footer-bar {
  position: fixed;
  width: 100%;
  bottom: 0;

  display: flex;
  justify-content: space-around;

  padding: var(--size-sm) 0;
  border-top: 1.5px solid var(--redpink);
  background-color: var(--light-redpink);
}

.footer-bar i {
  position: relative;
  color: var(--light-pink);
}

.footer-bar__link:nth-child(2),
.footer-bar__link:last-child {
  position: relative;
}
