.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size-sm) var(--size-lg);
}

.logo-header__icons i {
  margin-left: var(--size-xs);
}

.logo-header__link:nth-child(2),
.logo-header__link:last-child {
  position: relative;
}

.logo-header__link:nth-child(2) span {
  position: absolute;
  display: inline-block;
  color: var(--redpink);
  left: 33px;
  bottom: var(--size-md);
  width: var(--size-sm);
  height: var(--size-sm);
  font-size: var(--font-lg);
  font-weight: var(--font-weight-bold);
  background-color: var(--light-pink);
}
