.status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  color: var(--redpink);
  padding: var(--size-sm);
  box-sizing: border-box;
  background-color: var(--light-pink);
}

.status-bar__time {
  background-color: var(--redpink);
  color: var(--light-pink);
  padding: 0 var(--size-sm);
  border-radius: var(--size-lg);
  font-size: var(--font-lg);
}

.status-bar__time:hover {
  background-color: var(--dark-pink);
  animation: turnTime 1s ease-in-out infinite;
}

@keyframes turnTime {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.status-bar__device {
  display: flex;
}

.status-bar__device > i {
  margin-left: var(--size-2xs);
  transition: transform 300ms ease-in-out;
}

.status-bar__device > i:hover {
  transform: scale(1.2);
  color: var(--dark-pink);
}

.signal {
  display: flex;
  align-items: flex-end;
}

.signal > div {
  display: inline-block;
  width: 4px;
  margin-right: 1px;
  background-color: var(--redpink);
}

.signal:hover {
  animation: makeLongSignal 1s linear infinite;
}

@keyframes makeLongSignal {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.5);
  }
}

.signal__first {
  height: 40%;
}

.signal__second {
  height: 60%;
}

.signal__third {
  height: 80%;
}

.signal__fourth {
  height: 100%;
}
