.status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  color: var(--redpink);
  padding: var(--size-sm);
  box-sizing: border-box;
  background-color: var(--light-pink);
}

.status-bar__time {
  background-color: var(--redpink);
  color: var(--light-pink);
  padding: 0 var(--size-sm);
  border-radius: var(--size-lg);
  font-size: var(--font-lg);
}

.status-bar__device {
  display: flex;
}

.status-bar__device > i {
  margin-left: var(--size-2xs);
}

.signal {
  display: flex;
  align-items: flex-end;
}

.signal > div {
  display: inline-block;
  width: 4px;
  margin-right: 1px;
  background-color: var(--redpink);
}

.signal__first {
  height: 40%;
}

.signal__second {
  height: 60%;
}

.signal__third {
  height: 80%;
}

.signal__fourth {
  height: 100%;
}
