.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--size-md);
  color: var(--light-redpink);
}

.user-component__main {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  margin-right: var(--size-sm);
}

.user-component__avatar--small {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.user-component__avatar--medium {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.user-component__avatar--big {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-component__name {
  font-size: var(--font-md);
  font-weight: var(--font-weight-bold);
}

.user-component__message {
  font-size: var(--font-md);
  font-weight: var(--font-weight-light);
  color: var(--dark-pink);
}

.notification__number--chat {
  position: static;
  margin: 0;
}

.user-component__info i {
  color: var(--light-redpink);
}

.user-component__info span {
  font-size: var(--font-lg);
}

.user-component__info--vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notification__number--chat {
  position: static;
  margin: 0;
}
